/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

header h1,h2 {
    text-align: center;
    color: #3498db;
    margin-bottom: 10px;
}

.contact-info {
    text-align: center;
    margin-top: 10px;
    color: #555;
}

.contact-info span {
    display: block;
    margin-bottom: 5px;
}


.personal-info {
    background-color: #f4f4f4;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.personal-info h2 {
    font-size: 1.5rem;
    color: #3498db;
    margin-bottom: 10px;
}

.personal-info .info {
    margin-bottom: 10px;
    color: #555;
}

.personal-info .info span {
    font-weight: bold;
    color: #3498db;
}

/* Background and color adjustments */
.container {
    background-color: #f9f9f9;
    padding: 30px;
}

section {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.5rem;
    color: darkseagreen;
    margin-bottom: 10px;
}

ul {
    padding-left: 20px;
}

li {
    color: #555;
}

/* Highlighted skills */
.skills ul {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Languages{
    background-color: #f4f4f4;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.Languages h2{
    font-size: 1.5rem;
    color:darkseagreen;
    margin-bottom: 10px;
}

.Languages .info{
    margin-bottom: 10px;
}
.Languages .info span{
    font-weight: bold;
    color: #3498db;
}

.Softwares{
    background-color: #f4f4f4;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.Softwares h2{
    font-size: 1.5rem;
    color:darkseagreen;
    margin-bottom: 10px;
}

.Softwares .info{
    margin-bottom: 10px;
}
.Softwares .info span{
    font-weight: bold;
    color: #3498db;
}

.profile-picture{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto 10px;
    display: block;
}